
<div class="jumbotron center">
<h1>Warning:</h1> 
<h3>You Are Entering a Secure Site</h3>
<p>Proceed Only If You Authorize the NSA to Track All of Your Keystrokes</p>
<p>
	<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %><p>
</div>